@font-face {
    font-family: lufga;
    src: url(../assets/fonts/lufga-cufonfonts.zip);
}

* {
    font-family: lufga;
}

@media (min-width: 992px){
    .navbar-brand {
        font-size: 45px;
    }
.navbar-expand-lg {
    font-size: 25px;
}
}

@media screen and (min-width: 0px ) {

    .head-logo {
        top: 7rem;
    }

    .img-swap-big {
        display: block;
    }

    .img-swap-lil {
        display: none;
    }

    .card1-tittle{
        font-size: 20px;
    }

    .card1-text{
        font-size: 10px;
    }
}

@media screen and (min-width: 576px) {

    .head-logo {
        top: 15rem;
    }
    .card1-tittle{
        font-size: 50px;
    }

    .card1-text{
        font-size: 20px;
    }
}

@media screen and (min-width: 992px) {

    .head-logo {
        top: 20rem;
    }
    .card1-tittle{
        font-size: 80px;
    }

    .card1-text{
        font-size: 40px;
    }
}



@media screen and (min-width: 1400px) {

    .head-logo {
        top: 25rem;
    }

    .img-swap-big {
        display: none;
    }

    .img-swap-lil {
        display: block;
    }

    .card1-tittle{
        font-size: 40px;
    }

    .card1-text{
        font-size: 18px;
    }
}