@font-face {
    font-family: lufga;
    src: url(../assets/fonts/lufga-cufonfonts.zip);
}

* {
    font-family: lufga;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(0, 0, 0, 0);
}

.btn.show {
    color: var(--bs-btn-active-color);
    background-color: rgba(255, 255, 255, 0);
    border-color: var(--bs-btn-active-border-color);
}

.btn {
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 992px){
    .navbar-brand {
        font-size: 45px;
    }
.navbar-expand-lg {
    font-size: 25px;
}
}

h1{
    margin-top: 15px;
}